{% extends '::base.html.twig' %}
{#
-----------------------------------
Nombre del Archivo: inicio.html.twig
Ruta del Archivo: /var/www/sisprov/app/Resources/views/
Version:0.1
Fecha:0
21-08-2014
Autor:GTI Banavih
Descripcion: Pantalla de Inicio. Usuario y Contraseña
Observaciones: 
Historial de Revision:
	0.1/01-08-2014/:Version Original
        0.2/21-08-2014/: Se añadieron estilos bootstrap
-----------------------------------
#}
{% if app.user.nombre is not defined %}
    {% block menu %}{{parent()}}{% endblock %}
{% endif %}
{% block body -%}

    {% block main %}

        <div class="text-center">  
            <div class="page-header">
              <h2 id="nav"><strong>Sistema de Protocolización de Viviendas</strong></h2>
            </div>
            <br/>
            <img src="{{ asset('img/icono_home.png') }}" alt="Gobierno Bolivariano!"/>
            <br/>
            <br/>
            <br/>
        </div>
        
    {% endblock %}
{% endblock %}