{% extends '::inicio.html.twig' %}
{#
-----------------------------------
Nombre del Archivo: login.html.twig
Ruta del Archivo: /var/www/sisprov/app/Resources/views/
Version:0.1
Fecha:0
21-08-2014
Autor:GTI Banavih
Descripcion: Pantalla de Inicio. Usuario y Contraseña
Observaciones: OK AA
Historial de Revision:
        0.1/01-08-2014/:Version Original
        0.2/21-08-2014/: Se añadieron estilos bootstrap
-----------------------------------
#}
{% block javascripts %}
    {{ parent() }}

    {#   libreria js necesarios para el sisprov #}
    <script src="{{ asset('js/sisprov.js') }}"></script>
    <script>
        $('#login_refresh').click(function() {
            location.reload();
        });
    </script>
{% endblock %}
{% block body -%}
    <br/>
    <h2 class="alert alert-dismissable alert-success alert-link text-center">
        <strong>Sistema de Protocolización de Viviendas</strong>
    </h2>
        <div>
            {% if error.message is defined %}
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>
                        {% if error %}
                            {{ error.message|trans({},'messages') }}
                        {% endif %}                    

                    </strong> 
                </div>
                <br/>
            {% endif %}
            {% if ultimo_nombre is defined %} 
                {% set v_ultimo_nombre = ultimo_nombre %}
            {% else %}
                {% set v_ultimo_nombre = NULL %}
            {% endif %} 
            <div class="form-group">
                {{ form(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col':4 }) }}
            </div>
            <div class="col-lg-offset-4 col-lg-4">
                <button id="login_refresh" style="top:-205px;left:180px" class="btn btn-success glyphicon glyphicon-refresh btn btn-default" name="login[refresh]" type="button"></button>
            </div> 
        </div>
{% endblock %}