<select id="unidadid" name="unidadid" required="required" class="form-control">
    <option value="">Seleccione Nombre de Unidad</option>
    {% for unidad in unidades %}
    <option value="{{ unidad.id }}">{{ unidad.nombre }}</option>
    {% endfor %}
</select>